{% extends "base.html" %}

{% block title %}{{self.name}}{% endblock %}

{% block content %}
<h1>{{self.name}}</h1>
<h2>Recent jobs</h2>
<ul>
  {% for job in self.recent_jobs %}
  <li>{{job.job_id}} duration={{job.duration}}, data={{job.data}}, state={{job.state}}</li>
  {% endfor %}
</ul>
<h2>Running jobs</h2>
<ul>
  {% for job in self.running_jobs %}
  <li>{{job.job_id}} duration={{job.duration}}, data={{job.data}}, runner={{job.runner}}</li>
  {% endfor %}
</ul>
<h2>Pending jobs</h2>
<ul>
  {% for job in self.pending_jobs %}
  <li>{{job.job_id}} data={{job.data}}</li>
  {% endfor %}
</ul>
{% endblock %}
